<style>
  .message-content {
    font-size: 20px;
    line-height: 30px;
  }
</style>

<div class="message-content">
  <p>Ola! <%= @data.name%>!!!</p>
  <p>Você solicitou uma troca de senha, correto? </p>
  <p>Caso seja um engano, ignore este e-mail.</p>
  <p>Senão clique no link abaixo para definir uma nova senha!</p>
  <p><a href="<%= @data.url %>"Resetar Senha<a /></p>
  <p>Obrigado!!
    <strong>Doctor Schedule Team!!!</strong>
  </p>
</div>
